\[CVX]_formulary.log
\CVX]_formulary.aux
\[CVX]_formulary.synctex.gz
\[CVX]_formulary.fdb_latexmk
[CVX]_formulary.fls
\[CVX\]_formulary.fdb_latexmk
*.fls
\[CVX\]_formulary.log
\[CVX\]_formulary.synctex.gz
